<%- include('partials/header')%>
    <!--  -->
    <%- include('partials/nav')%>
        <!--  -->
        <div class=" ml-20 flex items-center w-[80%] mt-[7%] ">
            <div class="sm:w-1/2 p-10">
                <div class="image object-center text-center">
                    <img src="/images/3D-social-media-icons-with-smartphone.png" width="600px" >
                </div>
            </div>
            <div class="sm:w-1/2 p-5">
                <div class="text">
                    <span class="text-gray-500 border-b-2 border-teal-600 text-2xl uppercase">About us</span>
                    <h2 class="my-5 font-bold sm:text-4xl">About <span class="text-teal-600">Our Company</span>
                    </h2>
                    <p class="text-gray-700">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi
                        doloremque, fugiat illum magni minus nisi nulla numquam obcaecati placeat quia, repellat tempore
                        voluptatum.
                    </p>
                </div>
            </div>
        </div>

        <!--  -->
        <%- include('partials/footer')%>