<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->
    <div class=" rounded-xl w-[100%] h-[93vh] bg-teal-200 m-auto flex justify-center ">
      <div class="left-panel w-[50%] h-[100%] bg-[#DDD1C5] flex flex-col justify-center">
        <h1 class="text-center px-10 text-9xl font-normal text-teal-700 ">Join <span class="text-[#793D18] font-semibold">Social Network</span>
          for Intesify in your life.</h1>
        <p class="flex justify-center gap-x-5 mt-10">
          <a class="hover:bg-[#793D18] rounded text-white py-2.5 px-5 bg-[#C4001B] " href="/login">Continue Surfing</a>
          <a class=" hover:bg-[#793D18] rounded text-white py-2.5 px-5 bg-[#C4001B]" href="/register">Start Your Journey Today</a>
      </div>
      <div class="right-panel bg-slate-700 w-[50%] h-[100%] bg-auto ">
        <img src="" alt="">
        <div class="w-full h-[100%] bg-center bg-cover"
          style="background-image: url('https://images.unsplash.com/photo-1514315384763-ba401779410f?q=80&w=1883&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://images.unsplash.com/photo-1514315384763-ba401779410f?q=80&w=1883&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
        </div>
      </div>

      </p>
    </div>
    <!--  -->
    <%- include('partials/footer')%>